<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Magical Shop</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css"/>
</head>

<body>

<div class="jumbotron text-center titlename">
    <h1>Magical Shop</h1>
</div>

<div class="topnav">
    <a class="active" href="/">Home</a>
    <iframe class="frame"
            frameborder="0"
            width="300"
            height="50"
            src="https://drive.google.com/file/d/1QS24kfMw4mWm7ico1zN6IAM9toRQIRMp/preview">
    </iframe>
</div>


<div class="container">
    <div class="card box-around-dropdown">
        <form action="/" method="post">
            <div class="dropdown">
                <button class=" new_btn btn-secondary dropdown-toggle" type="button" id="supplier" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Suppliers
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <button class="dropdown-item" name="supplierbutton" value="1">Wanna have some drugs?</button>
                    <button class="dropdown-item" name="supplierbutton" value="2">Ollivander Magic Wands</button>
                    <button class="dropdown-item" name="supplierbutton" value="3">Weasley's Tutoring</button>
                    <button class="dropdown-item" name="supplierbutton" value="4">Cheap Slaves</button>
                </div>
            </div>
            <div class="dropdown">
                <button class="new_btn btn-secondary dropdown-toggle" type="button" id="category" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    Categories
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <button class="dropdown-item" name="categorybutton" value="1">Magic tools</button>
                    <button class="dropdown-item" name="categorybutton" value="2">Magic spells</button>
                    <button class="dropdown-item" name="categorybutton" value="3">Rental</button>
                    <button class="dropdown-item" name="categorybutton" value="4">Adults only</button>
                </div>
            </div>
            <a href="#" id="name"><i th:text="${category.name}"></i></a>
            <a href="/shopping-cart" id="shoppingCart"><img border="0" alt="W3Schools" src="/static/img/hat_icon1.png" width="40" height="40"></a>
            <a href="/registration" id="registration"><img border="0" alt="W3Schools" src="/static/img/log-in.png" width="40" height="40"></a>
        </form>
    </div>

    <div id="products" class="row">
        <div class="col col-sm-12 col-md-6 col-lg-4" th:each="prod,iterStat : ${products}">
            <div class="card product-card">
                <img class="image" src="http://placehold.it/400x250/000/fff"
                     th:attr="src='/static/img/product_' + ${prod.id} + '.jpg'" alt=""/>
                <div class="card-header">
                    <h4 class="card-title" th:text="${prod.name}">Product name</h4>
                    <p class="card-text" th:text="${prod.description}">Product description... </p>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                    </div>
                    <div class="card-text">
                        <form action="/" method="post">
                            <button class="new_btn" name="button" th:value="${prod.id}">Add to cart</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:replace="footer.html :: copy"></div>

</body>
</html>
