<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Shopping Cart</title>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css"/>

</head>
<body>

<div class="jumbotron text-center">
    <h1>Your Magical Cart</h1>
</div>
<div th:if="${shoppingCartProducts.isEmpty()}" class="jumbotron text-center">
    <h1>Your cart is currently empty!</h1>
</div>

<div th:if="not ${shoppingCartProducts.isEmpty()} ">
    <table>
        <form action="/shopping_cart" method="post">
            <tr>
                <th>Picture</th>
                <th>Name</th>
                <th>Price</th>
                <th>Qty</th>
                <th>Add</th>
                <th>Remove</th>

            </tr>
            <tr class="container"
                th:each="prod: ${shoppingCartProducts}">
                <td><img class="shopping-cart-images" src="http://placehold.it/400x250/000/fff"
                         th:attr="src='/static/img/product_' + ${prod.key.getId()} + '.jpg'" alt=""/></td>
                <td th:text="${prod.key.getName()}"></td>
                <td th:text="${prod.key.getPrice()}"></td>
                <td th:text="${prod.value}"></td>
                <td>
                    <button name="add" th:value="${prod.key.getId()}">Add</button>
                </td>
                <td>
                    <button name="remove" th:value="${prod.key.getId()}">Remove</button>
                </td>
            </tr>
            <br>
            <br>
            <br>
            <br>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>


                <td><b>Total price:</b></td>
                <td>
                    <b>
                        <div th:text=" ${totalPrice} + ' USD'">Total price:</div>
                    </b>
                </td>

            </tr>
            <br>
            <br>
            <br>
            <br>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <button>Checkout and pay</button>
                </td>

            </tr>
        </form>
    </table>


</div>
</body>
</html>