body{
    background-image: url("/static/img/product/556209.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    font-size: 17px;
}

.titlename, h1{
    color: white;
}


.jumbotron{
    background-color: #ffffff00;
}

#name {
    font-size: 28px;
    margin-left: 10px;
    color: #a7871b;
}

#shoppingCart, #registration {
    float: right;
    padding: 2px;
    size: 34px;
}

.center_btn{
    padding: 10px;
    margin: 0% 10% 10% 45%;
}

.success-message{
    margin: 45px;
}


.btn-success, .btn-secondary, .new_btn {
    color: #fff;
    background-color: #a7871b;
    border-color: #a7871b;
    border-radius:4px;
}

.btn-success:hover, .button:hover, .new_btn:hover{
    background-color:#431c05;
    color: #d6ae21;
}

.frame{
    margin-left: 1%;
}

.menu{
    overflow: hidden;

}

.menu a{
    float: left;
    color: #431c05;
    border-radius:4px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

}

.topnav {
    overflow: hidden;
    margin-top: -10px;

    margin-bottom: 20px;
    /*padding-bottom: 100px;*/
}


.topnav a {
    float: left;
    margin-left: 20%;
    color: #431c05;
    border-radius:4px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover, .menu a:hover {
    color: black;
}

.topnav a.active, .menu a.active{
    background-color: #a7871b;
    color: #431c05;
}

.glyphicon {
    margin-right: 5px;
}

.thumbnail {
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.thumbnail img {
    margin-top: 10px;
}

.item.list-group-item {
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}

.item.list-group-item:nth-of-type(odd):hover, .item.list-group-item:hover {
    background: #431c05;
}

.item.list-group-item .list-group-image {
    margin-right: 10px;
}

.item.list-group-item .thumbnail {
    margin-bottom: 0px;
}

.item.list-group-item .caption {
    padding: 9px 9px 0px 9px;
}

.item.list-group-item:nth-of-type(odd) {
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after {
    display: table;
    content: " ";
}

.item.list-group-item img {
    float: left;
}

.item.list-group-item:after {
    clear: both;
}

.list-group-item-text {
    margin: 0 0 11px;
}

.box-around-dropdown {
    margin-bottom: 10px;
}

.dropdown {
    float: left;
    margin: 10px;
}

.shopping-cart-images {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

th, b{
    color: white;
}

table, th, td {
    text-align: center;
}

table {
    width: 95%;

}

.dropdown {
    display: inline-block;
}

.product-card{
    margin: 5px;
}

.product-card:hover {
    opacity: 1;
    box-shadow: 1px 7px 14px 1px #a7871b;
}

