<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:method="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Magical Shop</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/checkout.css"/>

</head>


<body>

<div class="jumbotron text-center titlename">
    <h1>Magical Shop</h1>
</div>

<div class="row">
    <div class="col-75">
        <div class="container">
            <form action="/registration" method="post">

                <div class="row">
                    <div class="col-50">
                        <h3>Registration</h3>

                        <label for="fname"><i class="fa fa-user"></i> Full Name</label>
                        <input required type="text" id="fname" name="fullname"
                               placeholder="Full Name">

                        <label for="email"><i class="fa fa-envelope"></i> Email</label>
                        <input required type="email" id="email"
                               name="email" placeholder="example@example.com">

                        <label for="password"><i class="fa fa-user"></i> Password</label>
                        <input required type="password" id="password" name="password"
                               placeholder="Password">

                        <label for="confirm_password"><i class="fa fa-user"></i> Password</label>
                        <input required type="password" id="confirm_password" name="confirm_password"
                               placeholder="Password">

                    </div>

                </div>

                <input type="submit" value="Register" class="btn new_btn">
            </form>
        </div>
    </div>
</div>

</body>
</html>